<!DOCTYPE html>
<html>
<head>
    <title>Emotion Detector</title>
    <script src="{{ url_for('static', filename='mywebscript.js') }}"></script>
</head>

<body>
    <h1>Emotion Detection Application</h1>

    <div>
        <label for="textToAnalyze">Enter text:</label><br><br>

        <textarea id="textToAnalyze" rows="5" cols="60"></textarea><br><br>

        <button onclick="runSentimentAnalysis()">Analyze Emotion</button>
    </div>

    <br><br>

    <div id="system_response"></div>

</body>
</html>